.hero-banner {
    h1{
        font-size: 3rem !important;
        @media(min-width:992px){
            font-size: 60px !important;
        }
        @media (min-width:1200px) {
            font-size: $h1-font-size !important;
            
        }
        @media (min-width:768px) {
            font-size: 50px;
            
        }
    }
    
    .rotate-hover {
        transition: transform 0.5s ease-in-out;
    }

    .rotate-hover:hover {
        transform: rotate(360deg);
    }
    .cherry-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cherry-icon:hover {
   transform: scale(1.1) translateY(-5px);
}




}