.hero-banner{
    .courier-card {
   top: 75%;
    z-index: -1;
    }
    .pizza-card {
     top: 75%;
     left: 65%;
    z-index: -1;
    }

    .w-70{
        width: 70%;
    }
   .border{
   
    border-radius: 20%;
   }


}