
.footer{
    @media (min-width: 992px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .footer-heading {
    font-size: $footer-heading-size;

  }
  .list-unstyled li{
    margin-bottom: 14px;
    a{
      font-size: 14px;
    }
    &:hover{
      color: $primary;
    }
    
  }

  @media (min-width:992px) {
    .footer p{
      font-size: 14px;
    }
    

    
   
  }
  .social-icon {
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    transform: scale(1.2) rotate(5deg);
    filter: brightness(1.2);
  }
}
}