$gray-100:#F8F9FA;
$gray-200:#6f6f6f;
$primary:#FFB6B6;
$black:#263238;



// container
$custom-container-max-widths: (
  xxl:1216px,  
);

$grid-columns: 14;



@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
$enable-negative-margins: true;


$nav-link-color: #333;
$nav-link-hover-color: $danger;
$nav-link-font-weight: 500;
$nav-padding-y: 1rem;
$nav-item-gap: 2rem;
$footer-heading-size: 1.25rem; // 20px  
$footer-heading-size-sm: 1.125rem; // 18px
$footer-item-size-sm: 0.875rem;    // 14px





// map merge
$container-max-widths: map-merge($map1: $container-max-widths, $map2: $custom-container-max-widths);



$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  
);

$custom-spacers: (
  12:0.75rem,
  14:14px,
  44:2.75rem,
  90:90px,
  80:80px,
  100:100px,
  108:108px,
  127:100px,
  160px:160px,   
);

// Merge custom spacers with Bootstrap default
$spacers: map-merge($spacers, $custom-spacers);

$zindex-levels: (
 n1:-1,
  
);
$custom-zindex-levels:(
  n2: -2,
  n5: -5,
  

);

$zindex-levels: map-merge($map1: $zindex-levels, $map2: $custom-zindex-levels );

$custom-position-values: (
  8:8px,
 10:10%,
 15:15%,
 n2:2px,
 n20:20%,
 n30:30px,
 n50:-50px,
 65:65%,
 75:75%,

) ;

$position-values: map-merge($map1: $position-values, $map2: $custom-position-values );
// font-size
$h1-font-size:                $font-size-base * 4.5;
$h2-font-size:                $font-size-base * 2.813;
$h3-font-size:                $font-size-base * 2.25;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base * 0.875;
$h7-font-size:                $font-size-base ;


$cuctom_font-size: (
    7: $h7-font-size
   
);
$font-sizes: map-merge($map1: $font-sizes, $map2: $cuctom_font-size);





// nav-items
$nav-link-font-size: 1.125rem;

// $navbar-toggler-focus-box-shadow: none;
$navbar-nav-link-padding-y: 0.75rem;
.w-70{
  width: 70%;
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './header';
@import './footer';
@import './bannerSection'